<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Лучший тюнинг группы VAG на VAGShop</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Include jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script th:src="@{/js/script.js}"></script>

</head>
<body>
<div class="text-center">
    <h1>VAG Shop <small class="text-muted">всё для дооснащения автомобиля!</small></h1>
</div>
<h6 th:text="${sid}"></h6>
<button id="myButton" type="button" class="btn btn-primary">Primary</button>
<span id="cart">No items</span>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-sm-6 mb-3" th:each="product : ${products}">
            <div class="card" style="width: 17rem;">
                <img class="card-img-top" th:src="${product.linkImage}" th:alt="${product.description}"/>
                <div class="card-body">
                    <h5 class="card-title text-center" th:text="${product.description}"></h5>
                    <div class="price text-center">
                        <p th:text="|${product.price} Руб.|"></p>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <input th:data-id="${product.product_id}" type="button"
                               class="btn btn-outline-secondary cart" value="Купить">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
